<p style="color: green"><%= notice %></p>

<% content_for :title, "Bakes" %>

<h1>Bakes</h1>

<div id="bakes">
  <% @bakes.each do |bake| %>
    <%= render bake %>
    <p>
      <%= link_to "Show this bake", bake %>
    </p>
  <% end %>
</div>

<%= link_to "New bake", new_bake_path %>
